@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #1C2434;
        --color-secondary: #333A48;

        --color-background-primary: #ffffff;
        --color-background-secondary: #f1f5f9;

        --color-text-primary: #dee4ee;
        --color-text-primary-title: #ffffff;
        --color-text-primary-muted: #8399AF;

        --color-text-secondary: #1C2434;
        --color-text-secondary-title: #475569;
        --color-text-secondary-muted: #6b7280;
        --color-text-button: #ffffff;

        --color-button-accent: #3C50E0;
        --color-button-accent-hover: #4f61e3;
        --color-button-succes: #10B981;
        --color-button-succes-hover: #27C08D;
        --color-button-dark : #1C2434;
        --color-button-dark-hover: #323948;

        --color-button-muted: #c37d7d;

        --color-border-input: #cbd5e1;
    }

    .theme-triooti {
        --color-primary: #3ed215;
        --color-secondary: #333A48;

        --color-background-primary: #ffffff;
        --color-background-secondary: #f1f5f9;

        --color-text-primary: #dee4ee;
        --color-text-primary-title: #ffffff;
        --color-text-primary-muted: #8399AF;
        --color-text-secondary: #1C2434;
        --color-text-secondary-title: #1C2434;
        --color-text-secondary-muted: #647c9a;

        --color-button-accent: #3c50e0;
        --color-button-accent-hover: #4f61e3;
        --color-button-muted: #c37d7d;
    }

    .theme-red {
        --color-primary: #600000;
        --color-secondary: #333A48;

        --color-background-primary: #ffffff;
        --color-background-secondary: #f1f5f9;

        --color-text-primary: #dee4ee;
        --color-text-primary-title: #ffffff;
        --color-text-primary-muted: #8399AF;
        --color-text-secondary: #1C2434;
        --color-text-secondary-title: #1C2434;
        --color-text-secondary-muted: #647c9a;

        --color-button-accent: #3c50e0;
        --color-button-accent-hover: #4f61e3;
        --color-button-muted: #c37d7d;
    }
}

@layer components {
    .sidebar-items {
        @apply min-w-fit px-5 py-1 font-semibold text-base flex items-center gap-2 bg-skin-primary rounded-md border border-gray-400 hover:bg-skin-secondary text-skin-primary
        md:border-none;
    }

    .sidebar-icons {
        @apply text-2xl;
    }

    .form-input {
        @apply border border-gray-300 rounded-md p-3 hover:border-triooti focus:ring-triooti focus:outline-none hover:shadow-sm;
    }

    .form-input-secondary {
        @apply w-full px-4 py-2 text-base border border-gray-400 rounded-md
        focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
    }

    .button-main {
        @apply bg-triooti w-full p-3 rounded-md text-white;
    }

    .button-secondary {
        @apply px-4 py-2 text-base bg-skin-button-accent text-skin-primary rounded-md
        hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
    }

    .button-tertiary {
        @apply px-4 py-2 text-base bg-skin-button-succes text-skin-primary rounded-md
        hover:bg-skin-button-succes-hover focus:outline-none focus:ring-2 focus:bg-skin-button-succes focus:ring-offset-2;
    }

    /* .button-tertiary {
        @apply px-4 py-2 text-base bg-white text-blue-500 border border-blue-500 rounded-md
        hover:bg-blue-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;;
    } */

}

@keyframes loading {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  
  /* Loader */
  
  .loader {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--color-background-primary); */
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid var(--color-background-primary);
    border-top-color: var(--color-primary);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }